body { background: #7553f6; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 47px; display: flex; }
.block-email-0 { color: #29c2be; font-size: 15px; margin-bottom: 5px; }
.block-uploader-1 { color: #4f7f37; font-size: 21px; margin-bottom: 5px; }
.block-session-2 { color: #844cf9; font-size: 14px; margin-bottom: 5px; }
.block-filter-3 { color: #3c81b8; font-size: 17px; margin-bottom: 5px; }
.block-config-4 { color: #5270b2; font-size: 18px; margin-bottom: 5px; }